$primary-dark-cyan: hsl(158, 36%, 37%);
$primary-cream: hsl(30, 38%, 92%);

$neutral-very-dark-blue: hsl(212, 21%, 14%);
$neutral-dark-grayish-blue: hsl(228, 12%, 48%);
$neutral-white: hsl(0, 0%, 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: $primary-cream;
    font-family: 'Montserrat', sans-serif;
}

.product-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .product-image {
        img {
            width: 100%;
            border-radius: 10px 10px 0 0;
            display: block;
        }

        img.desktop-image {
            display: none;
        }
    }

    .product-description {
        background-color: $neutral-white;
        padding: 1.3rem;

        p {
            color: $neutral-dark-grayish-blue;
            &.top {
                text-transform: uppercase;
                font-size: .7rem;
                font-weight: 500;
                letter-spacing: 5px;
            }

            &.bottom {
                line-height: 1.3rem;
                margin-bottom: 1rem;
            }
        }

        h1 {
            font-family: 'Fraunces', serif;
            font-size: 1.9rem;
            padding: 1rem 0;
            line-height: 2rem;
            color: $neutral-very-dark-blue
        }

        .pricing {
            display: flex;
            align-items: center;

            .current-price {
                color: $primary-dark-cyan;
                font-size: 1.8rem;
                font-weight: 700;
                font-family: 'Fraunces', serif;
            }

            .full-price {
                text-decoration: line-through;
                margin-left: 1rem;
                color: $neutral-dark-grayish-blue;
                font-size: .9rem;
            }
        }

        .add-to-cart {
            background-color: $primary-dark-cyan;
            color: $neutral-white;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .9rem;
            border-radius: 10px;
            margin-top: 1rem;

            img {
                padding-right: .5rem;
            }
        }
    }
}

@media screen and (min-width: 376px) {
    // desktop layout
    .product-container {
        flex-direction: row;

        .product-image {
            img.mobile-image {
                display: none;
            }

            img.desktop-image {
                display: block;
                height: 100%;
            }
        }
    }
}